<h2>Termine</h2>
<ul class="events">
  {{range .UpcomingEvents}}
  <li>
    <div class="description">
        <span class="date">
          {{.StartDate.Format "2.1.2006"}}
        </span>
        <span class="title">
          <a href="{{.Name}}">{{.Title}}</a>
        </span>
    </div>
  </li>
  {{end}}
</ul>

<h2>Vergangene Aktionen</h2>
<ul class="events">
  {{range .PastEvents}}
  <li>
    <a class="icon" href="{{.Name}}/">
      {{with .Image}}
      <img src="{{.Path}}/?raw=1;size=event-view-events-icon" alt="{{.Title}}" title="{{.Description}}">
      {{else}}
      <div class="no-icon"></div>
      {{end}}
    </a>
    <div class="description">
        <span class="date">
          {{if .Upcoming}}Demnächst:{{end}}
          {{.StartDate.Format "2.1.2006"}}
        </span>
        <span class="title">
          <a href="{{.Name}}">{{.Title}}</a>
        </span>
    </div>
  </li>
  {{end}}
</ul>
